body{
    background-color: grey;
}
.gif img{
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;;    
}
.gif center{
    color: red;
    background-color: coral;
}