/*
width dentotes how much of a margin there
overflow hidden 
*/
/* .container{
    width:80%;
    margin:auto;
    overflow:hidden;
} */
body{
    background-color: blue;    
}
h1{
    font-size: 40px;
    font-style: italic;
}
#bg{
    position: absolute;  /*makes image stretch to full screen*/
    top: 0; 
    left: 0; 
      
    /* Preserve aspect ratio */
    min-width: 100%;
    min-height: 100%;
    z-index: -1; /*makes text able to take priority over image*/
}
#advertisement{
    
    background-size: 100%;     
    height: 800px;                

    text-align:center;
    color: red;
}
.movie:hover{
    color: red;
}
.movie{
    color:green;
    font-size: 30px;
    position: relative;
    
}